<div style="text-align:center">
  <h2 class="jumbotron bg-secondary text-white">
    Product Management System
  </h2>
</div>
<div class="alert alert-success" style="text-align:center">
  <strong >Products Section</strong>
</div>
<div class="row">
  <div class="col-md-12">
    <app-product-list> </app-product-list>
  </div>
</div>
<div class="alert alert-info"style="text-align:center">
  <strong>Order Section</strong>
</div>
<div class="row">
  <div class="col-md-4">
    <app-order>  </app-order>
  </div>


  <div class="col-md-8">
    <app-product>  </app-product>
  </div>
</div>

